<body class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar p-3 custom-background">
          <button type="button" class="btn-outline-primary btn-rounded text-white navBtn" id="signupbtn">Sign Up</button>
          <form class="form-inline flex-column text-center">
            <input class="form-control mr-sm-2 col-2" type="text" />
            <button type="button" class="btn-outline-primary btn-rounded mt-2" id="searchBtn">Search</button>
          </form>
          <button type="button" class="btn-outline-primary btn-rounded text-white navBtn" id="loginButton">Log
            in</button>
        </nav>

        
  <div
  class="p-5 text-center bg-image"
  style="
    background-image: url('https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    height: 400px;">
  
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Thrive</h1>
        <h4 class="mb-3">Making managing customer and business partners easier than spreadsheet</h4>
       
      </div>
    </div>
  </div>
</div>


</header>
<main>
 <div class="container-fluid p-3">
   <section class="mt-4">
     <div class="row justify-content-center align-items-center">
      <div class="col-md-5 text-right pr-5">
        <h2>About</h2>
      </div>
      <div class="col-md-5">
        <!-- added text -->
        <p>
          We are just there guys tired of spredsheets.
          We want you to able to edit, save, and delete all one page find
          who you are looking for more intuitivly for any business, or single use.
          Expierence our webiste simply sign up and 
          begin managing business prospects.
        </p>
      </div>
     </div>
    </section>
  
    <!-- added more to the body -->
    <div class="container-fluid p-3">
      <section class="spacer mt-4">
        <div class="row justify-content-center align-items-center">
         <div class="col-md-5 text-right pr-5 text-white">
           <p>We started this to get away from the spredsheet
            where items would stop bluring together to bring you something more
            simple
           </p>
         </div>
        <div class="col-md-5"><img src="/images/working-3-unsplash.jpg" alt="team working together" class="img-fluid"/>
         </div>
        </div>
      </div> 
    </section>
   </div>
   
   <!-- last part of the body -->
   <div class="container-fluid p-3">
    <section class="mt-4">
      <div class="row justify-content-center align-items-center">
       <div class="col-md-5 text-right pr-5">
         <p>How to use? That's easy. 
          Simply sign up and login and begin to use.
          Access data in a easy to use format. 
          When making this are main idea was removing the inconvenience
        </p>
       </div>
       <div class="col-md-5"><img src="/images/austin-kehmeier-lyiKExA4zQA-unsplash.jpg" alt="hand-shaking" class="img-fluid"/>
       </div>
      </div>
     </section>
    </main>   
  
    
    
    <!-- added footer -->
    <footer>
     <section id= "footer">
      <footer class="text-center text-white" style="background-color: rgb(91,99,189);">
        
        <div class="container p-4 pb-0">
          
          <!-- added link to register for free -->
          <section class="footer">
            <p class="d-flex justify-content-center align-items-center">
              <span class="me-3"><a href="testnewcustomer.html" class="text-white">Register for free</a></span>
              </p>
          </section>
         
        </div>
       <div class= "text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright:
          <a class="text-white">Thrive</a>
        </div>
    </section>
  </footer>  

</body>
<script src="/index.js"></script>
</html>