  body {
    background-color: #adb5bd;
  }
  
  .custom-background {
    background: rgb(91, 99, 189);
    background: radial-gradient(circle, rgba(91, 99, 189, 1) 0%, rgba(36, 13, 65, 1) 100%);
  }
  
  
  .navbar-brand {
    color: rgb(215, 222, 253);

  
.navbar-brand:hover {
    color: #6a11cb;
}

body {
    
    background-color:whitesmoke;
    
}

/* added background for spacer */
.spacer {
    background-color: black
}

#footer {
    background: rgb(91,99,189);
}
  
  #navBtn {
    background-color: #220a49;
  }
  
  #navBtn:hover {
    background-color: #150331;
    color: white;
  }
  
  #navBtn:active {
    background-color: #372553;
    border-color: rgb(88, 115, 236);
  }
  
  #searchBtn {
    color: white;
    background-color: rgb(91, 99, 189);
    border-color: rgba(107, 21, 206, 0.986);
  }
  
  #searchBtn:hover {
    background-color: rgb(68, 74, 136);
  }
  
  #searchBtn:active {
    background-color: rgb(134, 140, 206);
    border-color: rgba(144, 85, 211, 0.986);
  }

